node_modules
__pycache__/
build/
backups/
*.dump

# Dart
.dart_tool/
.pub/
build/
*.packages
.packages

# Flutter
.idea/
*.iml
*.lock
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
Flutter/
.metadata

# IDE
.vscode/
.DS_Store
